<p id="notice"><%= notice %></p>

<h1>Api Task Items</h1>

<table>
  <thead>
    <tr>
      <th>Summary</th>
      <th>Completed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @api_task_items.each do |api_task_item| %>
      <tr>
        <td><%= api_task_item.summary %></td>
        <td><%= api_task_item.completed %></td>
        <td><%= link_to 'Show', api_task_item %></td>
        <td><%= link_to 'Edit', edit_api_task_item_path(api_task_item) %></td>
        <td><%= link_to 'Destroy', api_task_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Api Task Item', new_api_task_item_path %>
